* {
    box-sizing: border-box;
    color:#FFF;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #d2b1e2;
  background-image: url('photos/cactus1.png'); /* Make sure the path is correct */
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 100vh; /* Full viewport height */
  width: 100%;
}

main {
  padding: 0px 40px 0px 40px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}

.icons{
  height:auto;
  width:50px;
  border-radius: 50%;
  margin: 10px;
  float:inline-start;
  background-color: #706d70;
}

#me{
  height: auto;
  width: 200px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  cursor: pointer;
}

#top-person{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

#photo-w-contact{
  background-color: rgba(112, 109, 112, 0.5);
  display:flex;
  flex-direction: column;
  float: left;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  margin: 0px 20px 0px 20px;
  min-width: 300px;
  height: auto;
}

#email p, #phone p, #location p{
  display: flex;
  align-content: center; 
}

#fix-email, #fix-phone, #fix-cake, #fix-location{
  display:flex;
  float:inline-start;
  align-content: center;
}

#photo-w-contact p, #line, #name  {
  border-radius: 10px;
  display:flex;
  justify-content:flex-end;
}

#gitHub{
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  background-color: #d2b1e2;
}

.services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service {
    background-color: rgb(110, 110, 110, .0.2);
    padding: 20px;
    border-radius: 10px;
    width: 48%;
    margin-bottom: 20px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.service a {
  text-decoration: none;
}

#about-and-do {
  background-color: rgba(112, 109, 112, 0.5);
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  padding: 40px;
}

#about-and-do p {
  font-size: 18px;
}

h3 {
  font-size: 22px;
}


@media screen and (max-width: 1300px) {
body {
  background-color: #d2b1e2;
  background-image: url('photos/cactus1.png'); /* Make sure the path is correct */
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 100vh; /* Full viewport height */
  width: 100%;
}
}